#footer{
    background-color: rgb(19, 103, 212) !important;
}
#nav .site-page{
    color:  rgb(19, 103, 212);
    font-size: 20px;
}
#nav .site-page:hover{
    color:rgb(235, 89, 22);
   
}

#nav #site-name{
    color: rgb(19, 103, 212);
    font-size: 30px;
}
#page-header #site-title{
    color: rgb(19, 103, 212);
}
#page-header #site-subtitle{
    color: rgb(19, 103, 212);
}